/* header{
    padding:0;
    padding-right: 3rem;
    background:pink;
    border-bottom:1px solid red ;
}
a{
    color:red;
    
}
a:hover{
    background-color: red;
    color:white;
}
.container{
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
a.logo{
    font-weight:bold;
    padding:1em;
}
nav ul{
    list-style-type: none;
    margin:0;
}
nav ul li a{
    padding:1em;
    display:inline-block;
}
li{
    list-style-type: none;
}
.nv{
    display:flex;
    justify-content: space-between;
    gap:20px;
} */
header {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .nv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nv li {
    margin-right: 10px;
  }
  
  .nv li:last-child {
    margin-right: 0;
  }
  
  .nv li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .nv li a:hover {
    background-color: #333;
    color: #fff;
  }
  
  .nv li a.active {
    background-color: #333;
    color: #fff;
  }
  
