<!-- <p>detailscard works!</p> -->
<!-- <p>details-card works!</p> -->

<div class="det">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{state.Food}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Measure:{{state.Measure}}</p>
            <p>Grams:{{state.Grams}}</p>
            <p>Calories:{{state.Calories}}</p>
            <p>Protein:{{state.Protein}}</p>
            <p>Fat:{{state.Fat}}</p>
            <p>Sat.Fat:{{state.Sat_Fat}}</p>
            <p>Fiber:{{state.Fiber}}</p>
            <p>Carbs:{{state.Carbs}}</p>
        </mat-card-content>
      </mat-card>
</div>


