<!-- <p>card-box works!</p> -->
<br>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{pd.usernmae}}</mat-card-title>
      <mat-card-subtitle>{{pd.type}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{pd.comment}}</p>
      <!-- <p>{{pd.reply}}</p> -->
      <div class="rplybox" *ngFor="let x of pd.reply">
        <p>Admin  Replied that "{{x.comment}}"</p>
      </div>
    </mat-card-content>
</mat-card>
<br>
<!-- <app-cardboxc *ngFor="'let x of names"[pd]="x"></app-cardboxc> -->
