<!-- <p>amainpage works!</p> -->
<header>
    <div class="container">
        <a  (click)="navigate('')" class="logo">
            FitPro Inc App</a>
            <ul class="nv">
                <li>
                    <a (click)="navigate('forum')">Forum</a>
                </li>
                <li>
                    <a (click)="navigate('complaints')">Complaints</a>
                </li>
                <li>
                    <a (click)="logout()">logout</a>
                </li>
            </ul>
    </div>
</header>


