<!-- <p>userhome works!</p>
 <div class="cont">
    <img src="http://localhost/diet1.jpg" alt=""> 
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Website</title>
    <link rel="stylesheet" href="style.css"> -->
</head>
<body>

    <div class="top">
        <div class="navbar">
            <!-- <a href="#" class="logo">custom</a> -->
            <!-- <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Park</a></li>
            </ul> -->
        </div>
        <div class="content">
            <h1>Plan your Diet</h1>
            <div>
                <button  (click)="navigate('diet')"><span></span> dietplans>></button>
            </div>

        </div>

    </div>
    <section class="footer">

        <div class="box-container">
            <div class="box">
                <h3>contact info</h3>
                <a href="#">+999-888-7772</a>
            </div>
        </div>

    </section>


    
    
</body>
</html>
